@import "tailwindcss";

@theme {
  --color-primary: #571244;
  --color-secondary: #EF4353;
  --color-pending: #1671D9;
  --color-dark: #151515;
  --color-light: #DDD0DA;
  --color-primary-dark: #11040E;
  --color-subdued: #696969;
  --color-primary-mid: #2C0922;
  --color-primary-40: #8F6182;
  
  --background-image-hero: url("/images/hero-image.jpg");

  --font-heading: var(--font-nunito);
  --font-body: var(--font-nunito-sans);
}