@import "tailwindcss";

@theme {
  --color-primary: #571244;
  --color-secondary: #EF4353;
  --color-pending: #1671D9;
  --color-text: #151515;
  
  --background-image-hero: url("/images/hero-image.jpg");

  --font-heading: var(--font-nunito);
  --font-body: var(--font-nunito-sans);
}